
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Petal Labs</title>
  <meta name="description" content="">
  <meta name="author" content="rj@petallabs.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="/static/Skeleton-2.0.4/css/skeleton.css">

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: "1197248966978591",
        xfbml: true,
        version: "v2.6"
      });
    };
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) { return; }
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>
  <div class="container">
   <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Charlie the assistant</h4>
		<div class="fb-messengermessageus" 
  			messenger_app_id="1197248966978591" 
  			page_id="589570001235328"
  			color="blue"
  			size="standard" >
		</div>
      </div>
    </div>
  </div>
</body>
</html>